@font-face{
    
    src: url(../martinjsanabria/assets/Cabin\ Regular.ttf);
    font-family: cabin;
}

@font-face{
    src: url(../martinjsanabria/assets/Didot\ Regular.ttf);
    font-family: didot;
}

h1{
    font-family: didot;
    font-size: x-large;
}

h3{
    font-family: didot;
}


aside#lateral{
    float: right;
    width: 30%;
    padding: 10px;
} 

.oscuro{
    padding: 15px;
    background-color: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: medium;
    font-family:cabin;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;

}

/*main-col*/

article#main-col{
    float: left;
    width: 65%;
    text-align: center;
}

.contenido{
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
    font-family: cabin;
    font-size:medium;
}

@media (max-width:600px){
    .menu{
    flex-direction: column;
    }
}


