
.modal-contenido{
    background-color:aqua;
    width:300px;
    padding: 10px 20px;
    margin: 20% auto;
    position: relative;
  }
  .modal{
    background-color: rgba(0,0,0,.8);
    position:fixed;
    top:0;
    right:0;
    bottom:0;
    left:0;
    opacity:0;
    pointer-events:none;
    transition: all 1s;
  }
  #miModal:target{
    opacity:1;
    pointer-events:auto;
  }

@font-face{
    
    src: url(../martinjsanabria/assets/Cabin\ Regular.ttf);
    font-family: cabin;
}

@font-face{
    src: url(../martinjsanabria/assets/Didot\ Regular.ttf);
    font-family: didot;
}

/*h1{
    font-family:didot;
    font-size:x-large;
}*/

h2{
    font-family:didot;
    font-size:x-large;
    
}

p, a, .lista{
    font-family:cabin;
    font-size:medium;
}

* {
    padding: 0px;
    margin: 0px;
    box-sizing: border-box;
}

.title{
    color: black;
    font-family:didot;
    font-size:x-large;
    text-align: left;
    margin-left:40px;
}

.informacion{
    position: absolute;  
}

/* decoracion del navegador */
.navegacion{
    background: rgb(133, 4, 36);
    width: 100%;
    top: 0;
    left: 0;
    z-index: 100;
}


/*aqui se llama a todos los ul de la navegación desde el menu hasta los sub menu*/
/* y se quita el decorado que trae de lista*/
.navegacion ul{
    list-style: none;  
    z-index: 100;  
}


/*este menu me ordena de forma horizontal y de un lado a otro los enlaces*/
.menu {
    display: inline-block;
    display: flex;
    justify-content: space-around; 
}

/*esto decora los titulos de los enlaces principales, no los desplegables*/
.menu  li  a{
    display: block;
    padding: 15px 20px;
    color: rgb(199, 166, 166);
    text-decoration: none;
    font-family:'Open Sans', sans-serif ;
}

/*efecto hover a los titulos y se llamará a los hijos y nietos*/
.menu li a:hover{
    color: white;
    transition: all .4s; /*revisar trnasición de color no pasa nada*/ 
}


.submenu{
    position: absolute;
    background: rgb(133, 4, 36);
    width: 130px;
    visibility: hidden;
    opacity: 0;
    transition: opacity 1.5s;
    
}

.submenu li a{
    display: block;
    padding: 10px;
    font-family:'Open Sans', sans-serif;
    text-decoration: none;
    font-size: 15px;
}

.menu li:hover .submenu{
    visibility: visible;
    opacity: 1;
}

/* Informa lugar y fecha*/
.top{
    background:rgb(250, 248, 248);
    padding: 5px;
    font-size: 15px;
    text-align: right;
    font-family: 'Open Sans', sans-serif;

}


/* Imagen del escudo del liceo*/
.logo{
    width: 100px;
    height: 100px;
    margin: -15px 10px 10px 450px;
    margin-left: auto;
    margin-right:auto;
}
h2{
    text-align: left;
    position: absolute;
    padding-top: 5px;
}

body{
    margin:0;
    padding: 0;
}*/

/*EVALUACIÓN Y NOTICAS */
.boxgeneral{
    height:420px;
    width: 100%;
    background-color: darksalmon;
    padding: 10px;
    position:relative;
}

.textoevaluacion{
    color: whitesmoke;
    text-align: left;
    margin-top: 20px;
}

.evaluaciones{
    height:400px;
    width: 100%;
    padding-top: 5px;
    padding-left:5px;
    padding-right: 5px;
    background-color: darkviolet;
    position:absolute;
}

.inscripciones{
    height:400px;
    width:100%;
    padding: 5px;
    background-color: darkturquoise;
   margin-left: 50%;
   position:absolute; 
}

.listinscripciones{
    margin-top: 50px;
    list-style: none;
}

.imaginscripciones{
    margin-top:35px;
    margin-left:60px;
    margin-right:auto;
    filter:drop-shadow(10px 10px 10px black);

}

.boximagen{
    margin-bottom: 10px;
    filter: drop-shadow(10px 10px 10px black);
    margin-top:50px; 
    margin-left:auto;
    margin-right:auto;
}

h2{
    color: white;
}

.boton{
    background-color: rgb(0, 113, 193);
    color: white;
    border-radius: 15px;
    text-decoration:none;
    display: inline-block;
    margin-top:15px;
    width:100px;
    height:30px;
    text-align:center;
    line-height: 2em;
}

.lista{
    text-decoration: none;
    color:whitesmoke;
    margin-left:5px;
}

.boton:hover{
    background-color:#850424;
    color: white;
}

.lista:hover{
    color:#850424;
}

/*tarjetas animadas*/

.boxboxes{
    margin-top:500px;
    display:flex;
    justify-content: center;
    align-items: center;
    background: #16384c;
}

.container{/*responsive*/
    position:relative;
    width:1100px;
    display:flex;
    justify-content:center;
    align-items:center;
    /*flex-wrap:wrap;*/
    padding:30px;
    margin-left:20px;
}

.container .card{/*revisado*/
    position:relative;
    max-width:300px;
    height:200px;
    background: #fff;
    margin: 60px 10px;
    padding: 20px 60px;
    display: flex;
    flex-direction: column;
    box-shadow: 0  5px 20px rgba(0,0,0.5);
    transition: 0.3s ease-in-out;
}

.container .card:hover{
    height: 420px;
}

.container .card .imgbx{
    position:relative;
    width: 240px;
    height: 240px;
    top: -45px;
    left: 2px;
    z-index: 1;
    box-shadow: 0  5px 20px rgba(0, 0, 0, 0.2 );
}

.container .card .imgbx{
    max-width:100%;
    border-radius:4px;
}

.container .card .content{
    position:relative;
    margin-top: -140; /*letras*/
    padding: 10px 15px;
    text-align: center;
    color:black;
    visibility: hidden;
    opacity:0;
    transition: 0.3s ease-in-out;
    color:#16384c;
}

.container .card:hover .content{
    visibility: visible;
    opacity: 10;
    margin-top: -15px;
    transition-delay: 0.3s;
}

a{
    text-decoration: none;
    color:black;
}

a:hover{
    color:#16384c;
}

footer{
    background: rgb(133, 4, 36);
    color:white;
    font-family:'Open Sans', sans-serif ;
    text-align: center;
    margin: auto;
    width: 100%;
    position: inherit;   
}

/*Formulario*/

.fondoformulario{
    margin-top: 70px;
    height: 100vh;
    width: 100%;
    position: absolute;
    background: #4568DC;  /* fallback for old browsers */
background: -webkit-linear-gradient(to right, #B06AB3, #4568DC);  /* Chrome 10-25, Safari 5.1-6 */
background: linear-gradient(to right, #B06AB3, #4568DC); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

}
.formulario{
    margin-top: 100px;
    width: 420px;
    height: 420px;
    color:black;
    background-color: white;
    text-transform: uppercase;
    left:35%;
    position: absolute;
    padding: 100px 30px;
    border-radius: 10px;
}

.imagen{
    width: 170px;
    height: 170px;
    margin-left: 95px;
    margin-top: -170px;
    border-radius: 50%;
}

.formu{
    margin-top:20px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
}

.usuario{
    display:flex;
    align-content: center;
    justify-content: center;
    margin-bottom: 5px;
}

.contraseña{
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top: 25px;
    margin-bottom: 5px;
}

INPUT{
    background:none;
    border:none;
    border-bottom: 1px solid black;
    margin-top:5;
    color: black;
    font-size:18px;
    padding: 10px 10px 10px 5px;
    border-radius: 10px;
}


.input{
    display:flex;
    align-content: center;
    justify-content: center;
    margin-top:25px;
}

/* Parte Responsiv*/
@media (max-width:600px){
        .menu{
        flex-direction: column;
         
        } 
        .navegacion ul li:hover ul{  /* No se despliega el submenu cuando esta en responsive*/
            display: block; 
            display: flex; /*Alinear al centro para colocar adorno navideño*/
            display: inline-flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;   
        }
        .top{
            flex-direction: column; /*coloca el hnombre del liceo y la fecha una debajo de la otra*/
        } 
        h2{
            text-align: right;
        }
        h2{
            position: relative;
        }
        .logo{
            margin: auto;
        }

        .padre{
            flex-direction: row;  
        }
        .navegacion{
            width: 100%;
        }
        
        .evaluaciones{
            margin-left: auto;
            margin-right: auto;
            height: auto; 
            width: 100%;
        }

        .inscripciones{
            top:1090px;
            margin-left: auto;
            margin-right: auto;
            height:auto;
            width: 100%;
        }

        .boton{
            margin-bottom: 15px;
        }

        .imaginscripciones{
            margin-top:15px;
            margin-left:auto;
            margin-right:auto;
            margin-bottom:25px;
            filter:drop-shadow(10px 10px 10px black);
        
        }

        .container{
            flex-wrap:wrap;
        }

        .boxboxes{
            margin-top:60em;
        }

        h2{
            text-align: left;
        }
        .menu{/*Alienar al centra para agregar adorno navideño*/
            text-align: center;
        }

        .formulario{
            left: 55px;

        }

       
}






