
/*himno martin J. Sanabria*/
.general{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -35px;
    margin-left: 660px;
}

.containerb{
    position: relative;
    width: 1100;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    padding:30px;
}

.containerb .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0  5px 20px rgba(0,0,0,0.5);
    transition: 0.3s ease-in-out;
}

.containerb .card:hover{
    height:720px;
}
.containerb .card .imagex{
    position:relative;
    width: 260px;
    top: -45px;
    left: -7px;
    z-index: 1;
    box-shadow: 10  10px 40px rgba(0,0,0,0.2);
}

.containerb .card .imagex{
    max-width: 100%;
    border-radius: 4px;
}

.containerb .card .contentb{
    position: relative;
    margin-top: -140px; /*letras*/
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}

.containerb .card:hover .contentb{
    visibility: visible;
    opacity:1;
    margin-top: -40px
}



/* caja de texto de la historia*/
.oscuro{
    padding: 15px;
    background-color: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family:'Open Sans', sans-serif;
    border-radius: 10px;
    text-align: center;
    margin-left: 10px;
}

/*main-col*/

article#main-col{
    float: left;
    width: 65%;
    text-align: center;
}

.contenido{
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    border-radius: 10px;
    text-align: left;
    margin-left: 10px;
}



img{
    margin-left: 15px;
    border-radius: 5px;
    filter: drop-shadow(10px 10px 10px black);
    margin
}

@media (max-width:600px){
    .menu{
    flex-direction: column;
    }

    .main-col{
        width:100%;
    }
    
    article#main-col{
        width:auto;
        margin-left:-5px;
        margin-right:5px;
        font-size:smaller;
    }

    .oscuro{
        visibility: hidden;
        position:absolute;
    }

    .general{
        flex-direction: column;
        margin-left: -80px;
        top:1900px;
        font-size: smaller;
    
    }

}

