
@font-face{
    
    src: url(../martinjsanabria/assets/Cabin\ Regular.ttf);
    font-family: cabin;
}

@font-face{
    src: url(../martinjsanabria/assets/Didot\ Regular.ttf);
    font-family: didot;
}

h1 {
    font-family: didot;
    font-size: x-large;
}

h3{
    font-family: didot;
    font-size: large;
}

p{
    font-family: cabin;
}

/*biografia martin J. Sanabria*/
.general{
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -5px;
    margin-left: 680px;
}
/*fondo de la caja animada*/
.containerb{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}


.containerb .card{
    position: relative;
    max-width: 300px;
    height: 215px;
    background: #fff;
    margin: 30px 10px;
    padding: 20px 15px;
    display: flex;
    flex-direction: column;
    box-shadow: 0  5px 20px rgba(0, 0, 0, 0.2);
    transition: 0.3s ease-in-out;
}

.containerb .card:hover{
    height: 420px;
}
.containerb .card .imagex{
    position: relative;
    width: 280px;
    height: 133px;
    top: -45px;
    left: 80px;
    z-index: 1;
    box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
}

.containerb .card .imagex{
    max-width: 100px;
    border-radius: 4px;
}

.containerb .card .contentb{
    position: relative;
    margin-top: -140px;
    padding: 10px 15px;
    text-align: center;
    color: #111;
    visibility: hidden;
    opacity: 0;
    transition: 0.3s ease-in-out;
}
.containerb .card:hover .contentb{
    visibility: visible;
    opacity: 1;
    margin-top: -20px;
    transition-delay: 0.3s;
}

/*main-col*/

article#main-col{
    float: left;
    width: 65%;
    text-align: center;
}

.contenido{
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    border-radius: 10px;
    text-align: left;
    margin-left: 15px;
    font-family: cabin;
    font-size: large;
}

/*imagen de misión*/
.misionimage{
    border-radius: 5px;
    filter: drop-shadow(10px 10px 10px black);
    margin-left: 15px;
    margin-bottom: 100px;
}


@media (max-width:600px){
    .menu{
    flex-direction: column;
    }

    .general{
        right: 150px;
        height: 1400px;
    }

    .containerb .card .imagex{
        position: relative;
        width: 280px;
        height: 133px;
        top: -45px;
        left: 15px;
        z-index: 1;
        box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
    }

    .misionimage{
        margin-top: 20px;
        margin-left: 65px;
    }    
}


