
@font-face{
    
    src: url(../martinjsanabria/assets/Cabin\ Regular.ttf);
    font-family: cabin;
}

@font-face{
    src: url(../martinjsanabria/assets/Didot\ Regular.ttf);
    font-family: didot;
}

h1{
    font-family: didot;
    font-size: x-large;
}

h3{
    font-family: didot;
    font-size:large;
}

p{
    font-family: cabin;
    font-size: large;
}


/*magen escudo martin j*/
aside#lateral{
    float: right;
    width: 30%;
    padding: 10px;
} 

.oscuro{
    position: absolute;
    padding: 15px;
    background-color: #35424a;
    color: #fff;
    margin-top: 10px;
    margin-bottom: 10px;
    font-size: 15px;
    font-family:'Open Sans', sans-serif;
    border-radius: 10px;
    text-align: center;
    margin-left: px;
    left:530px;
}

/*imagen de vision*/
article#main-col{
    float: left;
    width: 65%;
    text-align: center;
}

.contenido{
    width: 86%;
    padding: 20px;
    border: 1px solid #ccc;
    margin-bottom: 5px;
    background-color: #e6e6e6;
    border-radius: 10px;
    text-align: left;
    margin-left: 15px;
}



@media (max-width:600px){
    .menu{
    flex-direction: column;
    }

    article#main-col{
        text-align: center;
        width:100%;
        left:30px;
        height:10px;
    }

    .contenido{
        width:180px;
        font-size: medium;
    }

    .imagenvision{
        position:absolute;
        left: 15px;
        height: 100px;
        width:180px;
    }

    .oscuro{
        position: absolute;
        margin-top:510px;
        left: 45px;
        width:120px;
    }
}


